@mixin osm-p-contact-modal {
  #contact-modal {
    &.p-modal {
      align-items: start;
      position: fixed;
      z-index: 100;

      input[type="checkbox"] + label {
        margin-bottom: 0;
        margin-top: 0;
      }

      .p-modal__dialog {
        margin-bottom: 0;

        @media (min-width: $breakpoint-large + 100px) {
          max-width: $breakpoint-large;
          min-width: $breakpoint-large;
        }
      }
    }
  }
}
