@charset 'UTF-8';

// import settings
@import 'settings';
@import 'pattern_contact-modal';

// import custom mixins

@include osm-p-contact-modal;

// import cookie policy
// @import "cookie-policy/build/css/cookie-policy";

// import vanilla-framework
@import 'vanilla-framework';

@include vanilla;

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// import site specific patterns and overrides
.p-navigation__banner {
  background-color: $ubuntu-orange;
  padding: 0 ($spv--large + $sph--small);
}

.p-navigation {
  .p-navigation__row {
    padding: 0;

    .p-navigation__logo {
      font-weight: 400;
      margin-right: 0;
    }

    .p-navigation__toggle {
      &--open,
      &--close {
        font-weight: 400;
      }
    }

    .p-navigation__link {
      height: 100%;
      padding-left: ($spv--large + $sph--small);
      padding-right: ($spv--large + $sph--small);
    }
  }
}

.p-separator {
  margin: 4rem 0;
}

.p-strip--header {
  @extend %vf-strip;

  background-blend-mode: multiply, multiply, normal;
  background-color: #111;
  background-image: linear-gradient(to bottom left, rgba(216, 216, 216, 0.54) 0, rgba(216, 216, 216, 0.54) 49.9%, transparent 50%), linear-gradient(to bottom right, rgba(228, 228, 228, 0.54) 0, rgba(228, 228, 228, 0.54) 49.9%, transparent 50%), linear-gradient(201deg, #4e4e4e 0%, #333 46%, #111 90%);
  background-position: top right, top left, left top;
  background-repeat: no-repeat;
  background-size: 77% 115%, 71% 104%, 100% 99.8%;
  color: $color-x-light;
}
