<div class="p-modal" id="contact-modal">
  <div class="p-modal__dialog" role="dialog" aria-labelledby="modal-title" aria-describedby="modal-description">
    <header class="p-modal__header" style="border-bottom: 0; display: block;">
      <button class="p-modal__close" aria-label="Close active modal" style="margin-left: -1rem;">Close</button>
      <h2 class="p-modal__title u-sv1" id="modal-title">Orchestrate your network functions</h2>
    </header>
    <div class="js-pagination js-pagination--1">
      <div class="js-formfield">
        <h3 class="p-heading--5">What are the infrastructure preferences for your network function?</h3>
        <div class="row u-no-padding">
          <div class="col-4">
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="infrastructure-preferences-your-network-function-kubernetes-cluster" class="p-checkbox__input">
              <span class="p-checkbox__label" id="infrastructure-preferences-your-network-function-kubernetes-cluster">Kubernetes cluster</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="infrastructure-preferences-your-network-function-bare-metal" class="p-checkbox__input">
              <span class="p-checkbox__label" id="infrastructure-preferences-your-network-function-bare-metal">Bare metal</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="infrastructure-preferences-your-network-function-public-cloud" class="p-checkbox__input">
              <span class="p-checkbox__label" id="infrastructure-preferences-your-network-function-public-cloud">Public cloud</span>
            </label>      
          </div>
          <div class="col-4">
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="infrastructure-preferences-your-network-function-openstack" class="p-checkbox__input">
              <span class="p-checkbox__label" id="infrastructure-preferences-your-network-function-openstack">OpenStack</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="infrastructure-preferences-your-network-function-vmware" class="p-checkbox__input">
              <span class="p-checkbox__label" id="infrastructure-preferences-your-network-function-vmware">VMware</span>
            </label>
            <label class="p-checkbox">
              <div class="js-other-container">
                <input type="checkbox" aria-labelledby="infrastructure-preferences-your-network-function-oth" class="p-checkbox__input">
                <span class="p-checkbox__label" id="infrastructure-preferences-your-network-function-oth">Other</span>
                <input type="text" id="infrastructure-preferences-your-network-function-other-specified" class="js-other-container__input" placeholder="Please specify" style="margin-top: 0.25rem; opacity: 0;" aria-label="What?">
                </div>
              </label>
          </div>
        </div>
      </div>
      <div class="js-formfield">
        <h3 class="p-heading--5">What are the priority use cases?</h3>
        <div class="row u-no-padding">
          <div class="col-4">
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="priority-use-cases-private-lte-5g-network" class="p-checkbox__input">
              <span class="p-checkbox__label" id="priority-use-cases-private-lte-5g-network">Private LTE/5G network</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="priority-use-cases-ims" class="p-checkbox__input">
              <span class="p-checkbox__label" id="priority-use-cases-ims">IMS</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="priority-use-cases-packet-core" class="p-checkbox__input">
              <span class="p-checkbox__label" id="priority-use-cases-packet-core">Packet core</span>
            </label>
          </div>
          <div class="col-4">
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="priority-use-cases-subscriber-data-management" class="p-checkbox__input">
              <span class="p-checkbox__label" id="priority-use-cases-subscriber-data-management">Subscriber data management</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="priority-use-cases-ran-oran" class="p-checkbox__input">
              <span class="p-checkbox__label" id="priority-use-cases-ran-oran">RAN/ORAN</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="priority-use-cases-oss-bss" class="p-checkbox__input">
              <span class="p-checkbox__label" id="priority-use-cases-oss-bss">OSS/BSS</span>
            </label>
          </div>
          <div class="col-4">
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="priority-use-cases-transport" class="p-checkbox__input">
              <span class="p-checkbox__label" id="priority-use-cases-transport">Transport</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="priority-use-cases-general-it" class="p-checkbox__input">
              <span class="p-checkbox__label" id="priority-use-cases-general-it">General IT use case</span>
            </label>
            <label class="p-checkbox">
              <div class="js-other-container">
                <input type="checkbox" aria-labelledby="priority-use-cases-other" class="p-checkbox__input">
                <span class="p-checkbox__label" id="priority-use-cases-other">Other</span>
                <input type="text" id="priority-use-cases-other-specified" class="js-other-container__input" placeholder="Please specify" style="margin-top: 0.25rem; opacity: 0;" aria-label="What?">
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="js-formfield">
        <h3 class="p-heading--5">What is the nature of the network function?</h3>
        <div class="row u-no-padding">
          <div class="col-7 u-sv3">
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="nature-of-network-function-vnf" class="p-checkbox__input">
              <span class="p-checkbox__label" id="nature-of-network-function-vnf">Virtualized network function (VNF)</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="nature-of-network-function-cnf-knf" class="p-checkbox__input">
              <span class="p-checkbox__label" id="nature-of-network-function-cnf-knf">Cloud-native or kubernetes network function (CNF/KNF)</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="nature-of-network-function-pnf" class="p-checkbox__input">
              <span class="p-checkbox__label" id="nature-of-network-function-pnf">Physical network function (PNF)</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="nature-of-network-function-hnf" class="p-checkbox__input">
              <span class="p-checkbox__label" id="nature-of-network-function-hnf">Hybrid network function (HNF)</span>
            </label>
          </div>
        </div>
      </div>
      <div class="pagination">
        <a class="p-button--positive pagination__link--next" href="">Next</a>
      </div>
    </div>

    <div class="js-pagination js-pagination--2 u-hide">
      <div class="js-formfield">
        <h3 class="p-heading--5">Do you want automated deployment of your network functions?</h3>
        <div class="row u-no-padding">
          <div class="col-4 u-sv3">
            <label class="p-radio">
              <input type="radio" class="p-radio__input" name="radioPattern" aria-labelledby="automated-deployment-network-function-yes">
              <span class="p-radio__label" id="automated-deployment-network-function-yes">Yes</span>
            </label>
            <label class="p-radio">
              <input type="radio" class="p-radio__input" name="radioPattern" aria-labelledby="automated-deployment-network-function-no">
              <span class="p-radio__label" id="automated-deployment-network-function-no">No</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row u-no-padding js-formfield">
        <h3 class="p-heading--5">Tell us about your network function and team</h3>
        <textarea id="network-function-and-team" rows="3" aria-label="Tell us about your network function and teams" placeholder="What are the features of your network function? Where do you want to use your network function? How is it beneficial for telcos? Any other information?"></textarea>
      </div>
      <div class="js-formfield">
        <h3 class="p-heading--5">Which orchestration capabilities are important for your network function?</h3>
        <div class="row u-no-padding">
          <div class="col-4 u-sv3">
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="important-orchestration-capabilities-network-function-day0" class="p-checkbox__input">
              <span class="p-checkbox__label" id="important-orchestration-capabilities-network-function-day0">Day 0</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="important-orchestration-capabilities-network-function-day1" class="p-checkbox__input">
              <span class="p-checkbox__label" id="important-orchestration-capabilities-network-function-day1">Day 1</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="important-orchestration-capabilities-network-function-day2" class="p-checkbox__input">
              <span class="p-checkbox__label" id="important-orchestration-capabilities-network-function-day2">Day 2</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="important-orchestration-capabilities-network-function-all" class="p-checkbox__input">
              <span class="p-checkbox__label" id="important-orchestration-capabilities-network-function-all">All of them</span>
            </label>
          </div>
        </div>
      </div>
      <div class="pagination">
        <a class="pagination__link--previous p-button" href="">Previous</a>
        <a class="pagination__link--next p-button--positive" href="">Next</a>
      </div>
    </div>
    <div class="js-pagination js-pagination--3 u-hide">
      <h3 class="p-heading--5">How should we get in touch?</h3>
      <div class="row u-no-padding">
        <div class="col-6">
          <form action="https://ubuntu.com/marketo/submit" method="post" id="mktoForm_3592" class="modal-form">
            <ul class="p-list">
              <li class="p-list__item">
                <label for="firstName">First name:</label>
                <input required="" id="firstName" name="firstName" maxlength="255" type="text">
              </li>
              <li class="p-list__item">
                <label for="lastName">Last name:</label>
                <input required="" id="lastName" name="lastName" maxlength="255" type="text">
              </li>
              <li class="p-list__item">
                <label for="email">Work email:</label>
                <input required="" id="email" name="email" maxlength="255" type="email" pattern="^[^ ]+@[^ ]+\.[a-z]{2,26}$">
              </li>
              <li class="p-list__item">
                <label class="p-checkbox">
                  <input type="checkbox" value="yes" name="canonicalUpdatesOptIn" aria-labelledby="canonicalUpdatesOptIn" class="p-checkbox__input">
                  <span class="p-checkbox__label" id="canonicalUpdatesOptIn">I agree to receive information about Canonical's products and services.</span>
                </label>
              </li>
              <li class="p-list__item">In submitting this form, I confirm that I have read and agree to <a href="/legal/data-privacy/contact">Canonical's Privacy Notice</a> and <a href="/legal/data-privacy">Privacy Policy</a>.</li>
            </ul>
            <div class="u-hide">
              <h3>Your comments</h3>
              <ul class="p-list">
                <li class="p-list__item">
                  <label for="Comments_from_lead__c">What would you like to talk to us about?</label>
                  <textarea id="Comments_from_lead__c" name="Comments_from_lead__c" rows="5" maxlength="2000"></textarea>
                </li>
              </ul>
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="formid" value="3471">
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="returnURL" value="https://charmed-osm.com/contact-us/thank-you">
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="Consent_to_Processing__c" value="yes">
            </div>
            <div class="pagination">
              <a class="pagination__link--previous p-button" href="">Previous</a>
              <button type="submit" class="pagination__link--next p-button--positive" aria-label="Submit">Let's discuss</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    <div class="js-pagination js-pagination--4 u-hide">
      <div class="row u-no-padding">
        <div class="u-equal-height">
          <div class="col-7">
            <h3 class="p-heading--2">Thank you for getting in touch about Charmed OSM</h3>
            <p class="p-heading--4">A member of staff will get back to you within one working day.</p>
          </div>
          <div class="col-5 u-vertically-center u-align--center u-hide--small u-hide--medium">
            <img src="https://assets.ubuntu.com/v1/cbae9a60-thank_you_orange_cmyk.svg" alt="smile" width="200" height="200" loading="auto">
          </div>
        </div>
      </div>
      <a class="js-close p-button" href="">Close</a>
    </div>
  </div>
</div>
