{% extends 'base.html' %}

{% block title %}Contact Canonical about Charmed OSM |{% endblock %}
{% block meta_description %}Get in touch with Canonical sales and support on the phone or online for all your Charmed-OSM questions.{% endblock %}

{% block content %}

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h1>Contact Canonical</h1>
      <p>A member of our team will be in touch within one working day.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <form action="https://ubuntu.com/marketo/submit" method="post" id="mktoForm_3471">
        <fieldset class="u-no-margin--bottom">
          <ul class="p-list">
            <li class="p-list__item">
              <label for="firstName">First name:</label>
              <input required id="firstName" name="firstName" maxlength="255" type="text" />
            </li>
            <li class="p-list__item">
              <label for="lastName">Last name:</label>
              <input required id="lastName" name="lastName" maxlength="255" type="text" />
            </li>
            <li class="p-list__item">
              <label for="email">Email address:</label>
              <input required id="email" name="email" maxlength="255" type="email" pattern="^[^ ]+@[^ ]+\.[a-z]{2,26}$"/>
            </li>
            <li class="p-list__item">
              <label for="phone">Phone number:</label>
              <input required id="phone" name="phone" maxlength="255" type="tel" />
            </li>
            <li class="p-list__item">
              <label for="company">Company name:</label>
              <input required id="company" name="company" maxlength="255" type="text" />
            </li>
            <li class="p-list__item">
              <label for="title">Job title:</label>
              <input required id="title" name="title" maxlength="255" type="text" />
            </li>
            <li class="p-list__item">
              <label for="Comments_from_lead__c">How can we help you with Charmed OSM?</label>
              <textarea required id="Comments_from_lead__c" name="Comments_from_lead__c" rows="4" maxlength="2000"></textarea>
            </li>
            <li>
              <label class="p-checkbox">
                <input type="checkbox" value="yes" name="canonicalUpdatesOptIn" aria-labelledby="canonicalUpdatesOptIn" class="p-checkbox__input">
                <span class="p-checkbox__label" id="canonicalUpdatesOptIn">Also notify me of new products and events.&nbsp;</span>
              </label>
            </li>
          </ul>
          <ul class="p-list">
            <li class="p-list__item u-sv1">
              <small>In submitting this form, I confirm that I have read and agree to <a href="/legal/dataacy/contact">Canonical&rsquo;s Privacy Notice</a> and <a href="/legal/dataacy">Privacy Policy</a>.</small>
            </li>
            <li class="p-list__item">
              <button type="submit" class="p-button--positive" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Form', 'eventAction' : 'cloud contact-us', 'eventLabel' : '{{product}}', 'eventValue' : undefined });">Submit</button>
            </li>
          </ul>
          <!-- hidden fields -->
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="formid" value="3471">
          <!-- Needs to be update -->
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="returnURL" value="https://charmed-osm.com/contact-us/thank-you">
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="Consent_to_Processing__c" value="yes">
        </fieldset>
      </form>
    </div>

    <div class="col-4">
      <div class="p-card">
        <h2 class="p-card__title">Prefer to call us?</h2>
        <ul class="p-list--divided">
          <li class="p-list__item">Americas <a href="tel:+17372040291" class="u-float-right">+1 737 2040291</a></li>
          <li class="p-list__item">France <a href="tel:+33184889319" class="u-float-right">+33 184889319</a></li>
          <li class="p-list__item">Germany <a href="tel:+4961512746816" class="u-float-right">+49 615 127 46816</a></li>
          <li class="p-list__item">Japan <a href="tel:+81362053075" class="u-float-right">+81 3 6205 3075</a></li>
          <li class="p-list__item">Spain <a href="tel:+34932201131" class="u-float-right">+34 932 201131</a></li>
          <li class="p-list__item">UK <a href="tel:+442036565291" class="u-float-right">+44 203 656 5291</a></li>
          <li class="p-list__item">Rest of World <a href="tel:+442036565291" class="u-float-right">+44 203 656 5291</a></li>
        </ul>
      </div>
    </div>
  </section>

{% endblock content %}
