<!doctype html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
      content="{% block meta_description %}Charmed OSM is an Open Source MANO distribution, developed and maintained by Canonical, which uses Juju charms to simply its deployments and operations.{% endblock %}" />
    <meta name="copydoc" content="{% block meta_copydoc %}{% endblock %}">
    <meta name="author" content="Canonical Ltd" />

    <title>{% block title %}{% endblock title %}Charmed OSM, NFV management and orchestration platform</title>

    {% block head_extra %}{% endblock %}

    <link rel="preconnect" href="https://assets.ubuntu.com">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/styles.css" />
    <link rel="shortcut icon" type="image/png" href="https://assets.ubuntu.com/v1/a0adc5f7-favicon.ico">
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2"
      crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2"
      crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2"
      crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2"
      crossorigin>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K92JCQ');</script>
    <!-- End Google Tag Manager -->

  </head>

  <body>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K92JCQ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    {% include 'partial/_navigation.html' %}

    <main>
      {% block content %}{% endblock content %}
    </main>

    {% include 'partial/_footer.html' %}

    <script src="/static/js/build/cookie-policy/cookie-policy.js"></script>
    <script src="/static/js/build/global-nav/global-nav.js"></script>
    <script>
      canonicalGlobalNav.createNav({
        maxWidth: '72rem',
      });
      cpNs.cookiePolicy();
    </script>  </body>

</html>
