{% extends 'base.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1kpVxdUP4SxzJzmLmKMWFdWdPjQXHVYkhuBXfeUyZ-XE/edit#{% endblock meta_copydoc %}


{% block content %}
<section class="p-strip--suru-topped is-dark">
  <div class="row u-vertically-center u-equal-height">
    <div class="col-8">
      <h1>
        OSM Hackfests
      </h1>
      <p>
        With every release, the OSM community organizes the OSM Hackfest, where participants (such as network operators and systems integrators) can get hands-on experience with OSM. This also provides the opportunity for VNF (Virtual Network Function) vendors to onboard their VNFs through OSM. Being one of the pillars of the OSM project, Canonical regularly participates in the events organized by the OSM community and ETSI's Centre for Testing and Interoperability.
      </p>
      <p>Learn more about Canonical's contributions to past Hackfests!</p>
    </div>
    <div class="col-4 u-align--center u-hide--small u-hide--medium">
      <ul class="p-list">
        <li class="p-list__item">
          <img src="https://assets.ubuntu.com/v1/9fe23723-Screenshot+from+2021-02-18+14-03-02.png" width="250" height="87" alt="">
        </li>
        <li class="p-list__item">
          <img src="https://assets.ubuntu.com/v1/ff7dd096-logo-canonical-aubergine.svg" width="240" height="33" alt="">
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <table aria-label="Vanilla framework table example">
      <thead>
        <tr>
          <th colspan="4">Hackfest</th>
          <th colspan="8">Charmed OSM resources</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="https://osm.etsi.org/wikipub/index.php/OSM12_Hackfest">OSM12 Hackfest</a></li>
              <li class="p-list__item">
                (Jan 24 &mdash; Jan 28) 2022 
              </li>
            </ul>
          </td>
          <td colspan="8">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-11.0-eleven/OSM12-hackfest/presentations/OSM%2312%20Hackfest%20-%20VNF_CNF.pdf">What is a network function, VNF, CNF</a>
              </li>
              <li class="p-list__item">
                <a href="https://osm.etsi.org/docs/vnf-onboarding-guidelines">VNF Onboarding Guidelines</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-11.0-eleven/OSM12-hackfest/presentations/OSM%2312%20Hackfest%20-%20Onboarding%20tutorial.pdf">Onboarding tutorial with open source network function Kamailio</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-11.0-eleven/OSM12-hackfest/presentations/OSM%2312%20Hackfest%20-%20What%20are%20Day2%20operations.pptx.pdf">What are Day2 operations</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-11.0-eleven/OSM12-hackfest/presentations/OSM%2312%20Hackfest%20-%20Day2%20operations%20with%20Kamailio%20-%20tutorial.pptx.pdf">Day2 operations with Kamailio &ndash; tutorial</a>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="https://osm.etsi.org/wikipub/index.php/OSM-MR11_Hackfest">OSM-MR11 Hackfest</a></li>
              <li class="p-list__item">
                (Sept 13 &mdash; Sept 17 ) 2021 
              </li>
            </ul>
          </td>
          <td colspan="8" rowspan="2">
            <ul class="p-list">
              <li class="p-list__item">
                The scope of these hackfests are focused on the challenge of onboarding telco network functions.
              </li>
              <li class="p-list__item">
                Visit our telco website for <a href="https://ubuntu.com/telco/osm/onboarding-network-functions">onboarding network functions</a> and insights on Canonical's contributions.
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="https://osm.etsi.org/wikipub/index.php/OSM11_Hackfest">OSM11 Hackfest</a></li>
              <li class="p-list__item">
                (May 31 &mdash; 4 Jun) 2021
              </li>
            </ul>
          </td>
        </tr> 
        <tr>
          <td colspan="4">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="https://osm.etsi.org/wikipub/index.php/OSM10_Hackfest">OSM Hackfest 10</a>
              </li>
              <li class="p-list__item">
                (Nov 30 &mdash; Dec 4) 2020
              </li>
            </ul>
          </td>
          <td colspan="8">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM10-hackfest/presentations/OSM%2310%20Hackfest%20-%20HD2.1%20Introduction%20to%20OSM%20Primitives.pdf">Intro to OSM Primitives</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM10-hackfest/presentations/OSM%2310%20Hackfest%20-%20HD1.1%20Content%20Overview.pdf">Hackfest Scenario Overview</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM10-hackfest/presentations/OSM%2310%20Hackfest%20-%20HD1.2%20OSM%20System%20Features.pdf">OSM System Features</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM10-hackfest/presentations/OSM%2310%20Hackfest%20-%20HD1.3%20Preparing%20our%20OSM%20environment.pdfdf">Preparing our OSM environment</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM10-hackfest/presentations/OSM%2310%20Hackfest%20-%20HD2.2%20OSM%20Primitives%20for%20PNFs.pdf">Primitives for PNFs</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM10-hackfest/presentations/OSM%2310%20Hackfest%20-%20HD2.3%20OSM%20Primitives%20for%20VNFs.pdf">Primitives for VNFs</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM10-hackfest/presentations/OSM%2310%20Hackfest%20-%20HD2.4%20Intro%20to%20Juju%20relations.pdf">Intro to Juju Relations</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM10-hackfest/presentations/OSM%2310%20Hackfest%20-%20HD2.7%20CNF%20and%20Juju%20bundles.pdf">Orchestrating a CNF with juju Bundles</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM10-hackfest/presentations/OSM%2310%20Hackfest%20-%20HD2.8%20Enabling%20high%20performance%20VNFs%20with%20EPA%20_%20SDN%20Assist.pdf">Enabling High Performance in VNFs: EPA & SDN Assist</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM10-hackfest/presentations/OSM%2310%20Hackfest%20-%20HD4.3b%20Modeling%20CNFs%20with%20Juju%20Bundles.pdf">Modeling CNFs with Juju Bundles</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM10-hackfest/presentations/OSM%2310%20Hackfest%20-%20HD4.4%20Modeling%20VNF_PNFs%20with%20Charms.pptx.pdf">Modeling VNF/PNFs with Charms</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM10-hackfest/presentations/OSM%2310%20Hackfest%20-%20HD5.1%20Dev%20guidelines%20for%20OSM%20Primitives.pdf">Development Guidelines for OSM Primitives</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM10-hackfest/EcosystemDay/ED4%20-%20Understanding%20VCA%20-%20the%20Juju%20OLM%20(Canonical).pdf">Model Driven Kubernetes (Ecosystem Day)</a>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="https://osm.etsi.org/wikipub/index.php/OSM-MR9_Hackfest">OSM-MR Hackfest 9</a>
              </li>
              <li class="p-list__item">
                (Sept 7 &mdash; Sept 11) 2020
              </li>
            </ul>
          </td>
          <td colspan="8">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM-MR9-hackfest/presentations/OSM-MR%239%20Hackfest%20-%20HD1.2%20OSM%20System%20Features.pdf">OSM System Features</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM10-hackfest/presentations/OSM%2310%20Hackfest%20-%20HD1.3%20Preparing%20our%20OSM%20environment.pdf">Preparing our OSM environment</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM-MR9-hackfest/presentations/OSM-MR%239%20Hackfest%20-%20HD2.3%20-%20Introduction%20to%20OSM%20Primitives.pptx.pdf">Intro to OSM Primitives</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM-MR9-hackfest/presentations/OSM-MR%239%20Hackfest%20-%20HD2.4%20-%20Automating%20Day%201%20&%202%20VNF%20Operations%20with%20OSM%20Primitives.pptx.pdf">Automating Day 1-2 VNF Operations with OSM Primitives</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM-MR9-hackfest/presentations/OSM-MR%239%20Hackfest%20-%20HD3.2%20-%20Automating%20Day%201%20&%202%20PNF%20Operations%20with%20OSM%20Primitives.pptx.pdf">OSM Primitives for PNFs</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM-MR9-hackfest/presentations/OSM-MR%239%20Hackfest%20-%20HD3.3%20-%20Day%201-2%20CNF%20Operations.pptx.pdf">Orchestrating a CNF with Juju Bundles</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM-MR9-hackfest/presentations/OSM-MR%239%20Hackfest%20-%20HD5.1%20-%20OSM%20in%20Production.pdf">OSM in Production Environments</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-8.0-eight/OSM-MR9-hackfest/EcosystemDay/ED5%20-%20Canonical%20Charmed%20OSM.pdf">Charmed OSM</a>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="https://osm.etsi.org/wikipub/index.php/OSM9_Hackfest">OSM Hackfest 9</a>
              </li>
              <li class="p-list__item">
                (June 1 &mdash; June 4) 2020
              </li>
            </ul>
          </td>
          <td colspan="8">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-7.0-seven/OSM9-hackfest/presentations/OSM%239%20Hackfest%20-%20HD0.3%20OSM%20installation%20in%20the%20HA%20mode.pdf">Installation in High Availability (HA)</a>
              </li>
              <li class="p-list__item">
                <a href="https://osm-download.etsi.org/ftp/osm-7.0-seven/OSM9-hackfest/presentations/OSM%239%20Hackfest%20-%20HD1.4%20Hybrid%20Network%20Service%20Deployment%20Demonstration.pptx.pdf">Hybrid Network Service End-to-end on-boarding Demonstration</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-7.0-seven/OSM9-hackfest/presentations/OSM%239%20Hackfest%20-%20HD2.4%20-%20Automating%20Day%201%20&%202%20VNF%20Operations%20with%20OSM%20Primitives.pptx.pdf">Automating Day 1 & 2 VNF Operations with OSM Primitives</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-7.0-seven/OSM9-hackfest/presentations/OSM%239%20Hackfest%20-%20HD2.6%20-%20Automating%20Day%201%20&%202%20PNF%20Operations%20with%20OSM%20Primitives.pptx.pdf">Automating Day 1 & 2 PNF Operations with OSM Primitives</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-7.0-seven/OSM9-hackfest/presentations/OSM%239%20Hackfest%20-%20HD2.7-%20Day%201-2%20CNF%20Operations.pptx.pdf">Automating Day 1 & 2 CNF Operations with OSM Primitives</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-7.0-seven/OSM9-hackfest/presentations/OSM%239%20Hackfest%20-%20HD4.1%20-%20OSM%20in%20Production.pptx.pdf">OSM in Production Environments</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-7.0-seven/OSM9-hackfest/EcosystemDay/OSM%239%20Ecosystem%20Day%20-%20ED4%20CANONICAL%20OSM%20Production%20Readiness.pdf">Community driven production readiness with OSM (Ecosystem Day)</a>
              </li>
            </ul>
          </td>       
        </tr>
        <tr>
          <td colspan="4">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="https://osm.etsi.org/wikipub/index.php/OSM-MR8_Hackfest">OSM-MR Hackfest 8</a>
              </li>
              <li class="p-list__item">
                (Mar 9 &mdash; Mar 13) 2020
              </li>
            </ul>
          </td>
          <td colspan="8">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="https://osm-download.etsi.org/ftp/osm-7.0-seven/MR8-hackfest/presentations/OSM%20MR8%20Hackfest%20-%20Hack%203%20-%20%20Automating%20VNF%20Day-1%20&%202%20operations.pptx.pdf">Automating VNF Day-1 & 2 operations</a>
              </li>
              <li class="p-list__item">
                <a href="https://youtu.be/93yGiq32gyA">Running VNF operations primitives</a>
              </li>
              <li class="p-list__item">
                <a href="https://youtu.be/oHlZGJ1Yhh4">Running VNF operations primitives (II)</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-7.0-seven/MR8-hackfest/Ecosystem-Day/E3-Building%20Community%20-%20Canonical.pdf">Building a community to reduce VNF integration costs</a>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="https://osm.etsi.org/wikipub/index.php/8th_OSM_Hackfest">OSM Hackfest 8</a>
              </li>
              <li class="p-list__item">
                (Nov 18 &mdash; Nov 22) 2019
              </li>
            </ul>
          </td>
          <td colspan="8">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-6.0-six/8th-hackfest/presentations/8th%20OSM%20Hackfest%20-%20Session%207.3%20-%20New%20Native%20Charms.pdf">Native Charms</a>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="https://osm.etsi.org/wikipub/index.php/7th_OSM_Hackfest">OSM Hackfest 7</a>
              </li>
              <li class="p-list__item">
                (Sept 9 &mdash; Sept 13) 2019
              </li>
            </ul>
          </td>
          <td colspan="8">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-5.0-five/6th-hackfest/presentations/6th%20OSM%20Hackfest%20-%20Session%206%20-%201-Introduction%20to%20Proxy%20Charms.pdf">Introduction to Proxy Charms</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-6.0-six/7th-hackfest/presentations/7th%20OSM%20Hackfest%20-%20Session%206.2%20-%20Building%20a%20Proxy%20charm.pdf">Building a Proxy Charm</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-6.0-six/7th-hackfest/presentations/7th%20OSM%20Hackfest%20-%20Session%206.3%20-%20Building%20a%20VNF%20with%20primitives.pdf">Adding Primitives</a>
              </li>
              <li class="p-list__item">
                <a href="https://youtu.be/lZ68T51EL64">Charmed OSM orchestration on Kubernetes</a>
              </li>
              <li class="p-list__item">
                <a href="https://youtu.be/xxt0zmE1thQ">OSM DevStack</a>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="https://osm.etsi.org/wikipub/index.php/6th_OSM_Hackfest">OSM Hackfest 6</a>
              </li>
              <li class="p-list__item">
                (May 13 &mdash; May 17) 2019
              </li>
            </ul>
          </td>
          <td colspan="8">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-5.0-five/6th-hackfest/presentations/6th%20OSM%20Hackfest%20-%20Session%206%20-%201-Introduction%20to%20Proxy%20Charms.pdf">Introduction to Proxy Charms</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-5.0-five/6th-hackfest/presentations/6th%20OSM%20Hackfest%20-%20Session%206%20-%202-Building%20a%20Proxy%20charm.pdf">Building a Proxy charm</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-5.0-five/6th-hackfest/presentations/6th%20OSM%20Hackfest%20-%20Session%206%20-%203-Building%20a%20VNF%20with%20primitives.pdf">Building a VNF with primitives</a>
              </li>
              <li class="p-list__item">
                <a href="http://osm-download.etsi.org/ftp/osm-5.0-five/6th-hackfest/VNF-Day/VNF%20Day%20-%20Session%201%20-%20Virtualised_and_Containerised_Network_Functions_in_OSM.pdf">Virtualised and Containerized Network Functions in OSM (VNF Day)</a>
              </li>
            </ul> 
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="https://osm.etsi.org/wikipub/index.php/5th_OSM_Hackfest">OSM Hackfest 5</a>
              </li>
              <li class="p-list__item">
                (Feb 4 &mdash; Feb 8) 2019
              </li>
            </ul>
          </td>
          <td colspan="8">
            <ul class="p-list">
              <li class="p-list__item">
                <a href="https://osm.etsi.org/wikipub/index.php/OSM_PoC_4_-_Charmed_Open5GCore_Deployment_with_OSM_Rel_FIVE">Charmed Open5GCore deployment with OSM Rel FIVE - Canonical, TNO</a>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <p>To access the videos for the above topics please visit <a href="https://www.youtube.com/c/OpenSourceMANO">OSM videos</a></p>
  </div>
</section>

<section class="p-strip--header">
  <div class="u-fixed-width">
    <p class="p-heading--4">Feel free to visit our blogs and enjoy a short brief of the recent OSM Hackfests and releases:</p>
    <ul class="p-list is-split">
      <li class="p-list__item">
        <a href="https://ubuntu.com/blog/osm-release-nine" class="p-link--inverted">What's new in Open Source MANO: multi-cloud orchestration, operator lifecycle management, and more...</a>
      </li>
      <li class="p-list__item">
        <a href="https://ubuntu.com/blog/telco-workloads-orchestration-in-multi-clouds-environments-focus-for-open-source-mano-release-eleven" class="p-link--inverted">Telco workloads orchestration in multi-clouds environments &ndash; focus for Open Source MANO release ELEVEN</a>
      </li>
      <li class="p-list__item">
        <a href="https://ubuntu.com/blog/orchestration-in-telcos-the-multi-vendor-and-multi-cloud-environments" class="p-link--inverted">Orchestration in Telcos: the multi-vendor and multi-cloud environments...</a>
      </li>
      <li class="p-list__item">
        <a href="https://ubuntu.com/blog/onboarding-network-functions-with-open-source-mano-osm" class="p-link--inverted">Onboarding and orchestrating network functions with Open Source MANO (OSM)</a>
      </li>
      <li class="p-list__item">
        <a href="https://ubuntu.com/blog/osm-hackfest-mr9" class="p-link--inverted">Canonical at OSM Hackfest MR#9</a>
      </li>
      <li class="p-list__item">
        <a href="https://ubuntu.com/blog/charmed-osm-release-eight" class="p-link--inverted">Charmed OSM Release EIGHT available from Canonical</a>
      </li>
      <li class="p-list__item">
        <a href="https://ubuntu.com/blog/8th-osm-hackfest-the-highlights" class="p-link--inverted">8th OSM Hackfest: the highlights</a>
      </li>
      <li class="p-list__item">
        <a href="https://ubuntu.com/blog/osm-mr8-hackfest" class="p-link--inverted">Canonical at the OSM-MR#8 Hackfest, Madrid</a>
      </li>
      <li class="p-list__item">
        <a href="https://ubuntu.com/blog/osm-mr8-hackfest-the-highlights" class="p-link--inverted">OSM-MR#8 Hackfest: the highlights</a>
      </li>
      <li class="p-list__item">
        <a href="https://ubuntu.com/blog/charmed-osm-release-eight" class="p-link--inverted">Charmed OSM Release EIGHT available from Canonical</a>
      </li>
      <li class="p-list__item">
        <a href="https://ubuntu.com/blog/charmed-osm-release-seven" class="p-link--inverted">Charmed OSM release SEVEN: Container network functions</a>
      </li>
    </ul>
  </div>
</section>
{% endblock content%}