<header id="navigation" class="p-navigation">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo u-vertically-center">
        <a class="p-navigation__item" href="/" style="color: white;">
          Charmed OSM
        </a>
      </div>
    </div>
    <nav class="p-navigation__nav">
      <ul class="p-navigation__items" role="menu">
        <li class="p-navigation__item {% if request.path in ['/osm-hackfests'] %}is-selected{% endif %}" role="menuitem">
          <a class="p-navigation__link" href="/osm-hackfests">OSM Hackfests</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
